name: PR
run-name: ${{ github.event.action }}
on:
  pull_request:
    branches:
      - main
#    types:
#      - opened
#      - reopened
#      - synchronize
#      - closed

concurrency: ${{ github.head_ref }}

jobs:
  bar:
    uses: ./.github/workflows/reusable.yml
    with:
      environment: bar
  baz:
    uses: ./.github/workflows/reusable.yml
    with:
      environment: baz
#  opened:
#    #if: ${{ github. == 'pull_request' }}
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#        with:
#          fetch-depth: '0'
#      - run: echo PR opened or synched!
#      - run: echo ${{ github.event_path }}
#      - run: cat ${{ github.event_path }}
#  closed:
#    #if: ${{ github. == 'closed' }}
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#        with:
#          fetch-depth: '0'
#      - run: echo PR closed!
