name: PR
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions:
  actions: read
  contents: read
  id-token: write
  pull-requests: write

concurrency: ${{ github.head_ref }}

jobs:
  opened:
    if: ${{ github.event.action != 'closed' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - id: projects
        run: echo 'projects=["green","blue"]' | tee -a "$GITHUB_OUTPUT"
    outputs:
      projects: ${{ steps.projects.outputs.projects }}
  multiball_one:
    runs-on: ubuntu-latest
    needs:
      - opened
    if: ${{ needs.opened.outputs.projects != '[]' }}
    strategy:
      matrix:
        platform: ["amd64", "arm64"]
        project: ${{ fromJSON(needs.opened.outputs.projects) }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - run: echo "multiball one"
  multiball_two:
    needs:
      - opened
    if: ${{ needs.opened.outputs.projects != '[]' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: ["amd64", "arm64"]
        project: ${{ fromJSON(needs.opened.outputs.projects) }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - run: echo "multiball two"
  merge:
    needs:
      - multiball_one
      - multiball_two
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - run: echo "merge if necessary"
  final:
    needs:
      - merge
    #Run even if merge was skipped
    if: ${{ !failure() && !cancelled() }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - run: echo "final job woo"
  closed:
    if: ${{ github.event.action == 'closed' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - run: echo PR closed!
