name: PR
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - closed
  workflow_dispatch:
    inputs:
      pr_number:
        description: "PR number"
        required: true
        type: number

permissions:
  actions: read
  contents: read
  id-token: write
  pull-requests: write

#concurrency: ${{ github.head_ref || github.ref }}

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: |
          echo "head_ref: ${{ github.head_ref }}"
          echo "ref: ${{ github.ref }}"
