name: PR
run-name: '${{ github.event.pull_request.title }}: ${{ github.event.action }}'
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions:
  actions: read
  contents: read
  id-token: write
  issues: write

concurrency: ${{ github.head_ref }}

jobs:
  opened:
    if: ${{ github.event.action != 'closed' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - run: echo PR opened or synched!
      - run: echo ${{ github.event_path }}
      - run: cat ${{ github.event_path }}
      - run: |-
          curl -sS -X POST ${{ github.event.pull_request._links.comments.href }} \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -d "{\"body\":\"test\"}"
  closed:
    if: ${{ github.event.action == 'closed' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - run: echo PR closed!
