name: PR
run-name: '${{ github.event.pull_request.title }}: ${{ github.event.action }}'
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions:
  actions: read
  contents: read
  id-token: write
  pull-requests: write

concurrency: ${{ github.head_ref }}

jobs:
  opened:
    if: ${{ github.event.action != 'closed' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - run: echo PR opened or synched!
      - run: echo ${{ github.event_path }}
      - run: cat ${{ github.event_path }}
      - run: |-
          curl -sS -X POST ${{ github.event.pull_request._links.comments.href }} \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -d "{\"body\":\"Vercel Deployments
          | Name | Build | Preview |
          | --- | --- | --- | --- |
          | blue-skies | https://vercel.com/thirdfort/blue-skies/6WAzkahLWX3X493h6N6ENMTNJCQn | Missing link |
          | internal-developer-docs | https://vercel.com/thirdfort/internal-developer-docs/F5wU9WMARjrvgGfPqx6yeMGUN557 | Missing link |\"}"
  closed:
    if: ${{ github.event.action == 'closed' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - run: echo PR closed!
