name: PR
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - closed
  workflow_dispatch:
    inputs:
      pr_number:
        description: "PR number"
        required: true
        type: number

permissions:
  actions: read
  contents: read
  id-token: write
  pull-requests: write

concurrency: ${{ github.head_ref }}

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: |
          echo "PR number: ${{ github.event.number }}"
          echo "PR title: ${{ github.event.pull_request.title }}"
          echo "PR body: ${{ github.event.pull_request.body }}"
          echo "PR author: ${{ github.event.pull_request.user.login }}"
          echo "PR head: ${{ github.event.pull_request.head.ref }}"
          echo "PR base: ${{ github.event.pull_request.base.ref }}"