name: PR
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - closed
  workflow_dispatch:
    #inputs:
    #  pr_number:
    #    description: "PR number for context"
    #    required: false
    #    type: string
    #  head_ref:
    #    description: "Branch name for checkout"
    #    required: false
    #    type: string

permissions:
  actions: read
  contents: read
  id-token: write
  pull-requests: write

concurrency: ${{ github.ref }}

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: |
          echo "ref: ${{ github.ref }}"
          echo "ref_name: ${{ github.ref_name }}"
          echo "head_ref: ${{ github.head_ref }}"
          echo "pr_number: ${{ github.event.pull_request.number }}"
