on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  foo:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello, ${{ inputs.environment }}!"